body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1e1e;
  color: #333;
}

.fullscreen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  padding: 2rem;
  background-color: #ffddc1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5rem;
  color: #e07a5f;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

header p {
  font-size: 1.1rem;
  color: #333;
  margin-top: 0.5rem;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #e07a5f;
  padding: 1rem 0;
  width: 100vw;
  list-style: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar li {
  margin: 0 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s, transform 0.3s;
}

.navbar a:hover {
  color: #ffd700;
  transform: scale(1.1);
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  width: 100vw;
  height: 80vh;
  align-items: center;
  padding-block: 40px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 300px;
  height: 450px;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 1px 10px;
  background-color: #ff6f61;
  color: #fff;
  border-radius: 5px;
}

.card p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #555;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  margin-top: auto;
  width: 100vw;
}

footer a {
  color: #ff6f61;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #ffd700;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
